

*,
*::before,
*::after{
box-sizing: border-box;
}

:root{
  --ff-primary:'Source Sans Pro', Faustina;
--ff-secondary: 'Source Code Pro', Instrument Serif;

--fw-reg: 300;
--fw-bold: 900;

--clr-light: #A0D7E9;
--clr-dark: #30A7CF;
--clr-accent: #7BC6E0;  
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}
body{
   background-color: var(clr-ligh) ;
   color:  #303030
   margin: 0;
   font-family:'Source Sans Pro', sans-serif;
   font-size: var( --ff-primary)
   line-

}

img{
    max-width: 100%;
    display: block;
}

h1{
    font-size:var(--fs-h1) ;
}
h2{
    font-size:var(--fs-h2) ;
}
h3{
    font-size:var(--fs-h3) ;
}

h1, h2, h3{
    line-height: 1.1;
    margin: 0;
}